{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon.png' %}">

        {% block title %}
        <title>SNCF Time Arrival Prediction</title>
        {% endblock %}

        <!-- Bootstrap Core CSS -->
        <link href="{% static 'gentelella/vendors/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
        
        {% block header_up %}
        {% endblock %}




        <!-- Fonts -->
        <link href="{% static 'gentelella/vendors/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

        <!-- NProgress -->
        <link href="{% static 'gentelella/vendors/nprogress/nprogress.css' %}" rel="stylesheet">

        <!-- iCheck -->
        <link href="{% static 'gentelella/vendors/iCheck/skins/flat/green.css' %}" rel="stylesheet">

        <!-- bootstrap-progressbar -->
        <link href="{% static 'gentelella/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css' %}" rel="stylesheet">

        <!-- JQVMap -->
        <link href="{% static 'gentelella/vendors/jqvmap/dist/jqvmap.min.css' %}" rel="stylesheet"/>

        <!-- bootstrap-daterangepicker -->
        <link href="{% static 'gentelella/vendors/bootstrap-daterangepicker/daterangepicker.css' %}" rel="stylesheet">


        {% block header_tail %}

            <!-- Morris Charts CSS -->
            <link href="{% static 'gentelella/vendors/morris.js/morris.css' %}" rel="stylesheet">

        {% endblock %}

        <!-- Custom Theme Style -->
        <link href="{% static 'gentelella/build/css/custom.min.css' %}" rel="stylesheet">

    </head>

    <body class="nav-md">
        <!-- body container -->
        <div class="container body">
            <!-- main container -->
            <div class="main_container">
                <!-- left container -->
                <div class="col-md-3 left_col">
                    <!-- left_col scroll-view -->
                    <div class="left_col scroll-view">
                        <div class="navbar nav_title" style="border: 0;">
                            <a href="{% url 'home' %}" class="site_title"><i class="fa fa-train"></i> <span>SNCF project</span></a>
                        </div>

                        <div class="clearfix"></div>

                        <br />

                        <!-- sidebar menu -->
                        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                            <div class="menu_section">
                                <h3>General</h3>
                                <ul class="nav side-menu">
                                    <li><a href="{% url 'home' %}"><i class="fa fa-home"></i> Home </a>
                                    </li>
                                    <li><a><i class="fa fa-bar-chart-o"></i> Monitoring <span class="fa fa-chevron-down"></span></a>
                                        <ul class="nav child_menu">
                                          <li><a href="{% url 'monitoring_home' %}"> Database monitoring</a></li>
                                          <li><a target="_blank" href="http://34.251.173.101:8080">Jenkins monitoring</a></li>
                                          <li><a target="_blank" href="http://34.251.173.101:5555">Flower monitoring</a></li>

                                        </ul>
                                    </li>

                                    <li><a><i class="fa fa-book fa-fw"></i> Documentation <span class="fa fa-chevron-down"></span></a>
                                        <ul class="nav child_menu">
                                          <li><a href="{% url 'documentation' %}">Project documentation</a></li>
                                          <li><a target="_blank" href="https://leonardbinet.github.io/">ETL documentation</a></li>
                                          <li><a href="{% url 'source_code' %}">Source code</a></li>
                                        </ul>
                                    </li>

                                    <li>
                                        <a><i class="fa fa-map fa-fw"></i> Map <span class="fa fa-chevron-down"></span></a>
                                        <ul class="nav child_menu">
                                          <li><a href="https://leonardbinet.github.io/transilien-visualization/" target="_blank">Line H traffic</a></li>
                                        </ul>
                                    </li>

                                    <li>
                                        <a><i class="fa fa-gears fa-fw"></i> Api <span class="fa fa-chevron-down"></span></a>
                                        <ul class="nav child_menu">
                                            <li><a href="{% url 'api' %}"> API documentation </a></li>
                                            <li><a href="{% url 'api_route' %}"> Routes </a></li>
                                            <li><a href="{% url 'api_service' %}"> Services </a></li>
                                            <li><a href="{% url 'api_station' %}"> Stations </a></li>
                                            <li><a href="{% url 'api_trip' %}"> Trips </a></li>
                                            <li><a href="{% url 'api_stoptime' %}"> StopTimes </a></li>
                                            <li><a href="{% url 'api_trip_prediction' %}"> Trip Predictions </a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a>
                                            <i class="fa fa-train fa-fw"></i> Board <span class="fa fa-chevron-down"></span>
                                        </a>
                                        <ul class="nav child_menu">
                                          <li><a href="{% url 'trip_board' %}">Trip</a></li>
                                          <li><a  href="{% url 'station_board' %}">Station</a></li>

                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- /sidebar menu -->
                    </div>
                    <!-- left_col scroll-view -->
                </div>
                <!-- left container -->

                <!-- top navigation -->
                <div class="top_nav">
                    <div class="nav_menu">
                        <nav>
                            <div class="nav toggle">
                                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                            </div>
                        </nav>
                    </div>
                </div>
                <!-- /top navigation -->

                <!-- page content -->
                <div class="right_col" role="main">
                    {% block content %}

                    {% endblock %}
                    <br />
                </div>
                <!-- /page content -->
            </div>
        </div>


        <!-- jQuery -->
        <script src="{% static 'gentelella/vendors/jquery/dist/jquery.min.js' %}"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="{% static 'gentelella/vendors/bootstrap/dist/js/bootstrap.min.js' %}"></script>

        <!-- Custom Theme Scripts -->
        <script src="{% static 'gentelella/build/js/custom.min.js' %}"></script>


        {% block body_tail %}

        {% endblock %}
    </body>

</html>
