{% extends 'base.html' %}
{% load staticfiles %}

<!-- Balise title <60 caractères -->
{% block title %}
<title>Documentation</title>
{% endblock %}

{% block header_up %}

{% endblock %}

{% block content %}
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Documentation</h1>
            <h2>Api Extraction</h2>
            <img src="{% static 'images/docs/api-extraction.png' %}" class="img-responsive" alt="Responsive image">
            <br /><br /><br /><br /><br /><br />
            <h2>Data Flowchart</h2>
            <img src="{% static 'images/docs/data-flowchart.png' %}" class="img-responsive" alt="Responsive image">
            <br /><br /><br /><br /><br /><br />
            <h2>Project Timeline</h2>
            <img src="{% static 'images/docs/project-timeline.jpg' %}" class="img-responsive" alt="Responsive image">
            <br /><br /><br /><br /><br /><br />
            <h2>Get Real Arrival Times</h2>
            <img src="{% static 'images/docs/real-time.png' %}" class="img-responsive" alt="Responsive image">

        </div>
        <!-- /.col-lg-12 -->
    </div>
    
    <!-- IMAGE MODAL -->
    <div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg", style="width: 95%;
  height: 95%;">
            <div class="modal-content" style="height: auto;
  min-height: 95%;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Image preview</h4>
                </div>
                <div class="modal-body">
                    <img src="" id="imagepreview" style="width: 100%;" >
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->

</div>

{% endblock %}

{% block body_tail %}
<script>
// for responsive images
$('img').on('click',function()
            {
                var sr=$(this).attr('src');
                $('#imagepreview').attr('src',sr);
                $('#imagemodal').modal('show');
            });
</script>
{% endblock %}
