{% extends 'base.html' %}
{% load staticfiles %}

<!-- Balise title <60 caractères -->
{% block title %}
<title>Home</title>
{% endblock %}

{% block header_up %}

{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">SNCF Time Arrival Project</h1>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2>What to expect</h2>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <p>
                        This website is made to make available some information about our project.
                    </p>
                    <p>
                        You can check the status of our databases. MongoDB, this base is used solely for saving raw data extracted from the api. Dynamo saves all information about scheduled departures and real departures.
                        The relational database monitoring is not implemented but AWS interface is so adapted that it is probably not useful.
                    </p>
                    <p>
                        The documentation webpage contains some images we showed you during last presentations, (or maybe if you're lucky some information for the next meetings!)
                    </p>
                    <p>
                        The <b>api</b> part, is an api made to provide schedule and realtime information about trains schedules and delays and provides several endpoints.

                        It will soon provide our own predictions.
                    </p>
                    <p>
                        The map is a data-visualization of one day of traffic on line H.
                    </p>
                    <p>
                        The <b>board</b> is a visual interface to query our databases, and ultimately get predictions of delays.
                    </p>
                </div>

                <!-- /.panel-body -->
            </div>

        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->

{% endblock %}

{% block body_tail %}

{% endblock %}
