# pyc
*.pyc

# dsstore
*.DS_Store

# Bower
components/*

# Secrets
sncfweb/settings/secret.json
.ebextensions/02_secrets.config

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

#Temp
temp/*
