# Pycharm
*.idea

# pyc
*.pyc

# dsstore
*.DS_Store

# Bower
components/*
bower_components/*

# Secrets
secret.json
.ebextensions/02_secrets.config

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

#Temp
temp/*

# Database
mydatabase
