# pyc
*.pyc

# dsstore
*.DS_Store

# Bower
sncfweb/static/bower_components/*
components/*

# Secrets
sncfweb/settings/secret.json

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Reminder
reminder.md
