{% extends 'base.html' %}
{% load staticfiles %}

<!-- Balise title <60 caractères -->
{% block title %}
<title>Home</title>
{% endblock %}

{% block header_up %}

<!-- Datatables-->

<link href="{% static 'gentelella/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css' %}" rel="stylesheet">

<link href="{% static 'gentelella/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'gentelella/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'gentelella/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'gentelella/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css' %}" rel="stylesheet">


{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Project's API</h1>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2>Overview</h2>
                </div>

                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="bs-example">
                        <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-primary">
                                <input type="radio" name="options" id="option1"> Schedule
                            </label>
                            <label class="btn btn-primary">
                                <input type="radio" name="options" id="option2"> Real-time
                            </label>
                            <label class="btn btn-primary">
                                <input type="radio" name="options" id="option3"> Prediction
                            </label>
                        </div>
                    </div>
                    </br>

                    <table id="example" class="display" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>station_id</th>
                                <th>scheduled_departure_time</th>
                                <th>trip_id</th>
                                <th>stop_sequence</th>
                                <th>trip_headsign</th>
                                <th>day_train_num</th>
                                <th>expected_passage_time</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>station_id</th>
                                <th>scheduled_departure_time</th>
                                <th>trip_id</th>
                                <th>stop_sequence</th>
                                <th>trip_headsign</th>
                                <th>day_train_num</th>
                                <th>expected_passage_time</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>

                <!-- /.panel-body -->
            </div>

        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->

{% endblock %}

{% block body_tail %}



<script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>

<!-- Datatables

<script src="{% static 'gentelella/vendors/datatables.net/js/jquery.dataTables.min.js' %}"></script>

<script src="{% static 'gentelella/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>

<script src="{% static 'gentelella/vendors/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'gentelella/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js' %}"></script>
<script src="{% static 'gentelella/vendors/datatables.net-buttons/js/buttons.flash.min.js' %}"></script>
<script src="{% static 'gentelella/vendors/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'gentelella/vendors/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
<script src="{% static 'gentelella/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js' %}"></script>
<script src="{% static 'gentelella/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js' %}"></script>
<script src="{% static 'gentelella/vendors/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'gentelella/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js' %}"></script>
<script src="{% static 'gentelella/vendors/datatables.net-scroller/js/dataTables.scroller.min.js' %}"></script>

-->
<script>
var ajaxUrl = "/api/station/?station_id=8727622&info=real-time"
</script>
<script src="{% static 'board/js/interface.js' %}"></script>


{% endblock %}
