{% extends 'base.html' %}
{% load staticfiles %}

<!-- Balise title <60 caractères -->
{% block title %}
<title>Home</title>
{% endblock %}

{% block header_up %}

{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Project's API</h1>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2>Overview</h2>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    You can currently access multiple endpoints.
                    <ul>
                        <li>
                            ROUTES:
                            <a id="route-url" href="{% url 'api_route' %}"> {% url 'api_route' %} </a>
                        </li>
                        <li>
                            SERVICES:
                            <a id="service-url" href="{% url 'api_service' %}"> {% url 'api_service' %} </a>
                        </li>
                        <li>
                            STATIONS:
                            <a id="station-url" href="{% url 'api_station' %}"> {% url 'api_station' %} </a>
                        </li>
                        <li>
                            TRIPS:
                            <a id="trip-url" href="{% url 'api_trip' %}"> {% url 'api_trip' %}"</a>
                        </li>
                        <li>
                            STOPTIMES:
                            <a id="stoptime-url" href="{% url 'api_stoptime' %}"> {% url 'api_stoptime' %}"</a>
                        </li>
                    </ul>
                </div>
                <!-- /.panel-body -->
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->

{% endblock %}

{% block body_tail %}

{% endblock %}
