{% extends 'base.html' %}
{% load staticfiles %}

<!-- Balise title <60 caractères -->
{% block title %}
<title>Home</title>
{% endblock %}

{% block header_up %}

{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Project's API</h1>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2>Overview</h2>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">

                    You can currently access two endpoints: Station or Trip.
                    </br>

                    For each of these endpoints, you can specify 'info' parameter: "real-time" (default), "schedule" or "prediction".

                    <ul>
                    </br>

                        <li>
                            STATION: query a station, on given day (today if not specified) to get information on trips.
                            </br>
                            <a href="{% url 'api_station' %}?uic_code=8727622&day=20170216"> EXAMPLE: "{% url 'api_station' %}?uic_code=8727622&day=20170216"</a>
                            </br>

                            To access it: <a href="{% url 'api_station' %}"> {% url 'api_station' %} </a>
                            </br>
                            With parameters:
                            <ul>
                                <li>
                                    Required: uic_code: in a 7 or 8 digits format, for instance, uic_code=8727622
                                </li>
                                <li>
                                    Optional: day: in a yyyymmdd format, for instance, day=20170217. If not specified, today.
                                </li>
                                <li>
                                    Optional: info:  default "real-time", this parameter can be "real-time", "schedule" or "prediction".
                                </li>
                            </ul>
                        </li>
                        </br>
                        <li>
                            TRIP: query a trip_id to get information about its stops:
                            </br>
                            <a href="{% url 'api_trip' %}?trip_id=DUASN156466F01002-1_402666"> EXAMPLE: {% url 'api_trip' %}?trip_id=DUASN156466F01002-1_402666"</a>

                            </br>
                            To access it: <a href="{% url 'api_trip' %}"> {% url 'api_trip' %} </a>

                            </br>
                            With parameters:
                            <ul>
                                <li>
                                    Required: trip_id: for instance, trip_id=DUASN156466F01002-1_402666
                                </li>
                                <li>
                                    Optional: info:  default "real-time", this parameter can be "real-time", "schedule", "prediction".
                                </li>
                            </ul>
                        </li>
                    </ul>



                </div>

                <!-- /.panel-body -->
            </div>

        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->

{% endblock %}

{% block body_tail %}

{% endblock %}
