{% extends 'base.html' %}
{% load staticfiles %}

<!-- Balise title <60 caractères -->
{% block title %}
<title>Monitoring</title>
{% endblock %}

{% block header_tail %}

{% endblock %}


{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Monitoring</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">

        <div class="col-lg-12">

            <!-- /.panel -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    MongoDB
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <button id="mongo-refresh" data-loading-text="Loading..." type="button" class="btn btn-primary" autocomplete="off" >Check connection</button>
                    <button id="mongo-status-circle" type="button" class="btn btn-warning btn-circle btn-lg"><i id="mongo-status-fa" class="fa fa-question"></i>
                    </button>
                    <br>
                    <br>
                    <b>Additionnal information:</b>
                    <p id="mongo-add-info">
                    None
                    </p>
                    <div id="mongo_div"></div>
                </div>

                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->

            <!-- /.panel -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    Dynamo
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <button id="dynamo-refresh" data-loading-text="Loading..." type="button" class="btn btn-primary" autocomplete="off" >Check connection</button>
                    <button id="dynamo-status-circle" type="button" class="btn btn-warning btn-circle btn-lg"><i id="dynamo-status-fa" class="fa fa-question"></i>
                    </button>
                    <br>
                    <div id="dynamo_div"></div>
                    <br>
                    <b>Additionnal information:</b>
                    <p id="dynamo-add-info">
                    None
                    </p>
                </div>

                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>

    </div>

    <!-- /.row -->
{% endblock %}


{% block body_tail %}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
<script>
var mongo_ajax_url = "{% url 'ajax_monitoring_mongo_db' %}";
var dynamo_ajax_url = "{% url 'ajax_monitoring_dynamo_db' %}";
</script>

<script src="{% static 'monitoring/monitoring.js' %}"></script>


{% endblock %}
