{% extends 'base.html' %}
{% load staticfiles %}

<!-- Balise title <60 caractères -->
{% block title %}
<title>SNCF France Disruptions Map</title>
{% endblock %}

{% block header_tail %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.2/dist/leaflet.css" />
<link rel="stylesheet" href="{% static 'custom.css' %}" />
<script src="https://unpkg.com/leaflet@1.0.2/dist/leaflet.js"></script>

<!--Leaflet markercluster -->
<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.0.0/dist/MarkerCluster.css" />
<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.0.0/dist/MarkerCluster.Default.css" />
<script src="https://unpkg.com/leaflet.markercluster@1.0.0/dist/leaflet.markercluster.js"></script>

{% endblock %}


{% block content %}
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Disruptions Map</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div id = 'mapid' style = "height: 600px" class="col-lg-12">

        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <button id = 'refresh_disruptions' data-loading-text="Refreshing..." type="button" class="btn btn-primary" autocomplete="off" >
                Refresh all disruptions
            </button>
            <button id="update-status-circle" type="button" class="btn btn-warning btn-circle btn-lg"><i id="update-status-fa" class="fa fa-question"></i>
            </button>
        </div>
    </div>

    <!-- /.row -->
</div>
{% endblock %}


{% block body_tail %}
<script>
var ajaxsationsurl = "{% url 'ajax_stop_points' %}";
var ajaxdisruptionsurl = "{% url 'ajax_disruptions' %}";
var update_disruptions_url = "{% url 'update_disruptions' %}";

</script>
<script src="{% static 'ajaxmap.js' %}"></script>
<script src="{% static 'map_update.js' %}"></script>

<script>
  $('#refresh_disruptions').on('click', function () {
    var btn = $(this).button('loading');
    function resetButton(){btn.button('reset');}
    updateDisruptions(resetButton);
    //btn.button('reset');
  })
</script>

{% endblock %}
