{% extends 'base.html' %}
{% load staticfiles %}

<!-- Balise title <60 caractères -->
{% block title %}
<title>SNCF France Disruptions Map</title>
{% endblock %}

{% block header_tail %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.2/dist/leaflet.css" />
<link rel="stylesheet" href="{% static 'custom.css' %}" />
<script src="https://unpkg.com/leaflet@1.0.2/dist/leaflet.js"></script>

<!--Leaflet markercluster -->
<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.0.0/dist/MarkerCluster.css" />
<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.0.0/dist/MarkerCluster.Default.css" />
<script src="https://unpkg.com/leaflet.markercluster@1.0.0/dist/leaflet.markercluster.js"></script>

{% endblock %}


{% block content %}
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Disruptions Map</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div id = 'mapid' style = "height: 500px" class="col-lg-12">

        </div>
    </div>

    <!-- /.row -->
</div>
{% endblock %}


{% block body_tail %}
<script>
var dataurl = "{% static 'features.geoJson' %}";
var mapname = "{{ map }}"
var mapcollection = "{{ mapcollection }}";
var marker_label = "{{ marker_label }}";
var ajaxurl = "{% url 'ajax_stop_points' %}";
var ajaxdisruptionsurl = "{% url 'ajax_disruptions' %}";

</script>
<script src="{% static 'ajaxmap.js' %}">
</script>
{% endblock %}
